<div class="cookie_setting d-flex justify-content-between align-items-center">
    <div class="col-md-8">
        <p>We use cookies on our website to give you the most relevant experience by remembering your preferences and
            repeat
            visits. By clicking “Accept”, you consent to the use of ALL the cookies.</p>
        <a href="#" class="text-decoration-none" data-toggle="modal" data-target="#staticBackdrop">Do not sell my personal information.</a>
    </div>
    <div class="col-md-2">
        <a href="" class="text-decoration-none" data-toggle="modal" data-target="#exampleModal">Cookie settings</a>
        <button class="btn btn-danger ml-2" onclick="acceptHandler()">ACCEPT</button>
    </div>
</div>
