<footer>
  <div class="container pt-5 footer_content">
    <div class="row">
      <div class="col-md-4 text-left nav_title">Support</div>
      <div class="col-md-4 text-left nav_title">Contact</div>
      <div class="col-md-4 text-left nav_title">Sign up for newsletter</div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <ul class="list-unstyled text-left">
          <li class="mt-2">
            <a href="@-@contactUrl" class="text-light text-decoration-none">Contact Us</a>
          </li>
          <li class="mt-2">
            <a href="@-@termsUrl" class="text-light text-decoration-none">Terms</a>
          </li>
          <li class="mt-2">
            <a href="@-@privacyUrl" class="text-light text-decoration-none">Privacy Policy</a>
          </li>
          <li class="mt-2">
            <a href="@-@esomarUrl" class="text-light text-decoration-none">ESOMAR 28</a>
          </li>
          <li class="mt-2">
            <a href="@-@blogUrl" class="text-light text-decoration-none">Blog</a>
          </li>
          <li class="mt-2">
            <a href="@-@careersUrl" class="text-light text-decoration-none">Careers</a>
          </li>
          <li class="mt-2">Do Not Sell My Personal Information</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled text-left">
          <li class="mt-2">770 Pennant Hills Road,</li>
          <li class="mt-2">Carlingford Nsw 2118 Australia</li>
          <li class="mt-2">support@onlinemoneyworld.com</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled text-left">
          <li class="mt-3 d-flex align-items-center">
            <input type="text" placeholder="Email" id='email' class="p-0" style="height: 27.5px;"/>
            <input type="button" value="submit" class="btn btn-danger ml-4" id='submit_btn' onclick="submit()" style="height: 27.5px;line-height: 14px;">
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container pb-3">
    <div class="row mt-5">
      <div class="col-md-6">
        Copyright 2021, OnlineMoneyWorld. All Rights Reserved.
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div>Follow Us:</div>
        <div><a class="h3 ml-4 text-light" href="https://twitter.com/mondegains" style="width:20px">
          <i class="fa fa-twitter" aria-hidden="true"></i></a></div>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript">
  function submit() {
    var email = document.getElementById('email')
    if(email.value){
      email.value=''
    }
  }
</script>