<footer>
  <div class="container">
    <div class="row pt-5">
      <div class="col-md-4 text-left nav_title">Support</div>
      <div class="col-md-4 text-left nav_title">Contact</div>
      <div class="col-md-4 text-left nav_title">Sign up for newsletter</div>
    </div>
    <div class="row pt-5">
      <div class="col-md-4">
        <ul class="list-unstyled text-left">
          <li class="mt-2">
            <a
              href="../../pages/contact/index.html"
              class="text-light text-decoration-none"
              >Contact Us</a
            >
          </li>
          <li class="mt-2">
            <a
              href="../../pages/terms/index.html"
              class="text-light text-decoration-none"
              >Terms</a
            >
          </li>
          <li class="mt-2">
            <a
              href="../../pages/privacy/index.html"
              class="text-light text-decoration-none"
              >Privacy Policy</a
            >
          </li>
          <li class="mt-2">Do Not Sell My Personal Information</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled text-left">
          <li>HEADQUARTERS</li>
          <li class="mt-2">125 Lakeshore Road E</li>
          <li class="mt-2">Suite 305</li>
          <li class="mt-2">Oakville, ON</li>
          <li class="mt-2">Canada L6J 1H3</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled text-left">
          <li><input type="text" /><label>Your Email</label></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6">
        Copyright 2021, Quest Mindshare. All Rights Reserved.
      </div>
      <div class="col-md-6 d-flex">
        <p>Follow Us:</p>
        <a class="h3 ml-4 text-light" href="https://twitter.com/mondegains"
          ><i class="fa fa-twitter" aria-hidden="true"></i
        ></a>
      </div>
    </div>
  </div>
</footer>
