<header>
  <p class="pt-3 pb-3 w-100">
    <img src="@-@logo" alt="" id="logo" class="pl-5 pr-2 w-10" />
    <button
      class="btn border-right"
      type="button"
      data-toggle="collapse"
      data-target="#services"
      aria-expanded="false"
      aria-controls="services"
      id="services_btn"
    >
      <span> Services</span>
    </button>
    <button
      class="btn border-right"
      type="button"
      data-toggle="collapse"
      data-target="#affiliates"
      aria-expanded="false"
      aria-controls="affiliates"
      id="affiliates_btn"
    >
      <span> Affiliates</span>
    </button>
    <button
      class="btn border-right"
      type="button"
      data-toggle="collapse"
      data-target="#about"
      aria-expanded="false"
      aria-controls="about"
      id="about_btn"
    >
      <span> About</span>
    </button>
    <button
      class="btn border-right"
      type="button"
      data-toggle="collapse"
      data-target="#resources"
      aria-expanded="false"
      aria-controls="resources"
      id="resources_btn"
    >
      <span>Resources</span>
    </button>
    <button class="btn border-right" id="contact_btn">
      <a
        href="@-@contact"
        class="text-decoration-none text-dark"
        style="font-size: 20px"
        >Contact</a
      >
    </button>
    <select name="" id="" class="w-10">
      <option value="english">English</option>
      <option value="chinese">中文</option>
    </select>
    <a class="btn btn-danger ml-5" href="@-@login" style="width: 8%">Login</a>
    <img src="@-@iPhone" alt="" class="phone ml-4" id="phone" />
    <img src="@-@chrome" alt="" class="chrome ml-4" id="chrome" />
  </p>
  <div class="collapse" id="services">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex">
            <div style="font-size: 50px; color: rgb(190, 32, 32)">
              <i class="fa fa-cogs" aria-hidden="true"></i>
            </div>
            <div class="ml-4 pr-3">
              <p class="text-left _services_title" data-locale="services">
                Services
              </p>
              <p class="text-left _services_content">
                Lean on Quest to help you with more than just sample and data
                collection. Our team of market research specialists will assist
                you from survey design to Q&A—and everything in between.
              </p>
            </div>
            <div class="border-right border-danger"></div>
          </div>
          <div class="col-md-6 d-flex">
            <ul class="list-unstyled text-left col-md-8">
              <li class="p-2" id="marketplace">Marketplace</li>
              <li class="p-2" id="technology">Technology</li>
              <li class="p-2" id="make_money">How to make Money</li>
            </ul>
            <img src="@-@welcome" alt="" style="width: 265px; height: 265px" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" id="affiliates">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex">
            <div style="font-size: 50px; color: rgb(190, 32, 32)">
              <i class="fa fa-users" aria-hidden="true"></i>
            </div>
            <div class="ml-4 pr-3">
              <p class="text-left _affiliates_title">Affiliates & Partners</p>
              <p class="text-left _affiliates_content">
                Whether you are looking for 500 hair salon owners in Italy or
                1000 IT Decision Makers in Southern California, Quest can access
                your target for quality insights. Learn more about our reach.
              </p>
            </div>
            <div class="border-right border-danger"></div>
          </div>
          <div class="col-md-6 d-flex">
            <ul class="list-unstyled text-left col-md-8">
              <li class="p-2 border text-center border-danger" id="join_our">
                Join Our Panel
              </li>
            </ul>
            <img src="@-@welcome" alt="" style="width: 265px; height: 265px" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex">
          <div style="font-size: 50px; color: rgb(190, 32, 32)">
            <i class="fa fa-handshake-o" aria-hidden="true"></i>
          </div>
          <div class="ml-4 pr-3">
            <p class="text-left _about_title">About</p>
            <p class="text-left _about_content">
              Quest is all about people — from our member-based panels to the
              intelligent market research professionals on our team. Work with
              the industry's best to achieve outstanding results.
            </p>
          </div>
          <div class="border-right border-danger"></div>
        </div>
        <div class="col-md-6 d-flex">
          <ul class="list-unstyled text-left col-md-5">
            <li class="p-2" id="about_us">About Us</li>
          </ul>
          <img src="@-@welcome" alt="" style="width: 265px; height: 265px" />
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" id="resources">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex">
          <div style="font-size: 50px; color: rgb(190, 32, 32)">
            <i class="fa fa-hand-o-right" aria-hidden="true"></i>
          </div>
          <div class="ml-4 pr-3">
            <p class="text-left _resources_title">Resources</p>
            <p class="text-left _resources_content">
              Quest becomes an extension of your team. We harness the best of
              human led, technology powered support to enable your unique
              research requirements and fulfill our mission in quality data and
              insights. Access our resources to assist in your sampling plan and
              learn more about Quest’s unique position on the MR landscape.
            </p>
          </div>
          <div class="border-right border-danger"></div>
        </div>
        <div class="col-md-6 d-flex">
          <ul class="list-unstyled text-left col-md-5">
            <li class="p-2" id="blog">Blog</li>
            <li class="p-2" id="esomar">ESOMAR 28</li>
            <li class="p-2" id="careers">Careers</li>
          </ul>
          <img src="@-@welcome" alt="" style="width: 265px; height: 265px" />
        </div>
      </div>
    </div>
  </div>
</header>
