<header>
  <p class="m-0 d-flex justify-content-center align-content-center">
    <a href="@-@back_url" class="col-md-2">
      <img src="@-@logo" alt="" id="logo" class="" />
    </a>
    <button class="btn border-right" type="button" data-toggle="collapse" data-target="#services" aria-expanded="false"
      aria-controls="services" id="services_btn" style="height: 40px;margin-top: 18px;">
      <span data-locale='services'> Services</span>
    </button>
    <button class="btn border-right" type="button" data-toggle="collapse" data-target="#affiliates"
      aria-expanded="false" aria-controls="affiliates" id="affiliates_btn" style="height: 40px;margin-top: 18px;">
      <span data-locale="affiliates"> Affiliates</span>
    </button>
    <button class="btn border-right" type="button" data-toggle="collapse" data-target="#about" aria-expanded="false"
      aria-controls="about" id="about_btn" style="height: 40px;margin-top: 18px;">
      <span data-locale="about"> About</span>
    </button>
    <button class="btn border-right" type="button" data-toggle="collapse" data-target="#resources" aria-expanded="false"
      aria-controls="resources" id="resources_btn" style="height: 40px;margin-top: 18px;">
      <span data-locale="resources">Resources</span>
    </button>
    <button class="btn border-right mr-5" id="contact_btn" style="height: 40px;margin-top: 18px;">
      <a href="@-@contact" class="text-decoration-none text-dark" style="font-size: 20px" data-locale="contact">Contact</a>
    </button>
    <select name=""  class=" ml-5" style="margin-top:18px;font-size: 16px;" id='chinese'>
      <option value="english">English</option>
    </select>
    <a class="btn btn-danger ml-5 d-flex align-items-center justify-content-center" href="@-@login"
      style="width: 8%;height: 40px;margin-top:18px;font-size: 14px;" data-locale="login">Login</a>
    <!-- <img src="@-@iPhone" alt="" class="phone ml-4" id="phone" />
    <img src="@-@chrome" alt="" class="chrome ml-4" id="chrome" /> -->
  </p>
  <div class="collapse" id="services">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex">
            <div style="font-size: 50px; color: rgb(190, 32, 32)">
              <i class="fa fa-cogs" aria-hidden="true"></i>
            </div>
            <div class="ml-4 pr-3">
              <p class="text-left _services_title" data-locale="services">
                Services
              </p>
              <p class="text-left _services_content">
                Rely on OnlineMoneyWorld to bring you huge rewards or to bring higher income to your website/app/game.
              </p>
            </div>
            <div class="border-right border-danger"></div>
          </div>
          <div class="col-md-6 d-flex">
            <ul class="list-unstyled text-left col-md-8">
              <li class="p-2" id="marketplace">
                <a href="@-@marketplace_url" class="text-decoration-none">Marketplace</a>
              </li>
              <li class="p-2" id="technology">
                <a href="@-@technology_url" class="text-decoration-none">Technology</a>
              </li>
              <li class="p-2" id="make_money">
                <a href="@-@mony_url" class="text-decoration-none">
                  How to make Money</a>
              </li>
            </ul>
            <img src="@-@welcome" alt="" style="width: 265px; height: 265px" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" id="affiliates">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex">
            <div style="font-size: 50px; color: rgb(190, 32, 32)">
              <i class="fa fa-users" aria-hidden="true"></i>
            </div>
            <div class="ml-4 pr-3">
              <p class="text-left _affiliates_title">Affiliates & Partners</p>
              <p class="text-left _affiliates_content">
                Our affiliate network has more than 100 suppliers and millions of real users.
              </p>
            </div>
            <div class="border-right border-danger"></div>
          </div>
          <div class="col-md-6 d-flex">
            <ul class="list-unstyled text-left col-md-8">
              <li class="p-2 border text-center border-danger" id="join_our">
                <a href="@-@contact" class="text-decoration-none">
                  Join Our Panel</a>
              </li>
            </ul>
            <img src="@-@welcome" alt="" style="width: 265px; height: 265px" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex">
          <div style="font-size: 50px; color: rgb(190, 32, 32)">
            <i class="fa fa-handshake-o" aria-hidden="true"></i>
          </div>
          <div class="ml-4 pr-3">
            <p class="text-left _about_title">About</p>
            <p class="text-left _about_content">
              OnlineMoneyWorld is a refined trusted marketing agency and is becoming a new star in the industry.
            </p>
          </div>
          <div class="border-right border-danger"></div>
        </div>
        <div class="col-md-6 d-flex">
          <ul class="list-unstyled text-left col-md-5">
            <li class="p-2" id="about_us">
              <a href="@-@about_url" class="text-decoration-none">About Us</a>
            </li>
          </ul>
          <img src="@-@welcome" alt="" style="width: 265px; height: 265px" />
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" id="resources">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex">
          <div style="font-size: 50px; color: rgb(190, 32, 32)">
            <i class="fa fa-hand-o-right" aria-hidden="true"></i>
          </div>
          <div class="ml-4 pr-3">
            <p class="text-left _resources_title">Resources</p>
            <p class="text-left _resources_content">
              OnlineMoneyWorld uses innovative technology to complete high-quality data collection. Our resources are
              only for you to have more benefits.
            </p>
          </div>
          <div class="border-right border-danger"></div>
        </div>
        <div class="col-md-6 d-flex">
          <ul class="list-unstyled text-left col-md-5">
            <li class="p-2" id="blog">
              <a href="@-@blog_url" class="text-decoration-none">Blog</a>
            </li>
            <li class="p-2" id="esomar">
              <a href="@-@esomar_url" class="text-decoration-none">ESOMAR 28</a>
            </li>
            <li class="p-2" id="careers">
              <a href="@-@careers_url" class="text-decoration-none">Careers</a>
            </li>
          </ul>
          <img src="@-@welcome" alt="" style="width: 265px; height: 265px" />
        </div>
      </div>
    </div>
  </div>
  <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-222595522-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-222595522-1');
	</script>
</header>

<script type="text/javascript">
  document.getElementById("services").onmouseleave = function () {
    this.classList.remove('show')
  };
  document.getElementById("affiliates").onmouseleave = function () {
    this.classList.remove('show')
  };
  document.getElementById("about").onmouseleave = function () {
    this.classList.remove('show')
  };
  document.getElementById("resources").onmouseleave = function () {
    this.classList.remove('show')
  };
</script>