.about__title {
  min-height: 150px;
  background-color: #b93539;
  color: #fff;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about__bg {
  background-image: url('../images/aboutbg.jpeg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 750px;
  color: #fff;
}
