.careers_content {
    min-height: 150px;
    background-color: #b93539;
    color: #fff;
    font-size: 40px;
  }
  .main__content{
      img{
          width: 250px;
          height: 250px;
          border-radius: 10px;
      }
  }
  .two__part{
      background-color: #f7f9fb;
  }