.careers_content {
  min-height: 150px;
  background-color: #cc444a;
  color: #fff;
  font-size: 40px;
}
.main_header {
  background-image: url('../images/hero-area.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
}
.main_header .overlay {
  width: 100%;
  min-height: 100vh;
  top: 0px;
  left: 0px;
  background-color: rgba(90, 90, 90, 0.9);
  opacity: 0.6;
}
.main_header .overlay .title {
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  color: #fff;
  animation-delay: 10s;
  padding-top: 200px;
}
.main_header .overlay .content {
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
  color: #fff;
  animation-delay: 10s;
  line-height: 50px;
}
.main__content img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}
.two__part {
  background-color: #f7f9fb;
}
