.contact__title{
    // background-image: url('../images/loginbg.png');
    // background-size: 100% 100%;
    // background-repeat: no-repeat;
    min-height: 150px;
    background-color:#b93539;
    color: #fff;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact__input{
    // background-color: rgb(212, 102, 38);
    background-color: #d04a34;
    color: #fff;
    input{
        border: none;
    }
    textarea{
        border: none;
    }
}