.contact__title {
    min-height: 150px;
    background-color: #b93539;
    color: #fff;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact__input {
    .contact_input_info {
        font-size: 20px;
    }

    ._label {
        font-size: 18px;
    }

    .agree {
        font-size: 18px;
    }
}