.contact__title {
  min-height: 150px;
  background-color: #b93539;
  color: #fff;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact__input {
  background-color: #d46626;
  color: #fff;
}
.contact__input input {
  border: none;
}
.contact__input textarea {
  border: none;
}
