.esomar__content{
    min-height: 150px;
    background-color:#b93539;
    color: #fff;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
.accordion{
    font-family: 'Courier New', Courier, monospace;
}