body {
  overflow-x: hidden;
}
body iframe {
  border: none;
  width: 100%;
}
header #logo {
  width: 18%;
  height: 10%;
}
header .header__ul {
  width: 100%;
}
header .header__ul li {
  font-size: 20px;
  text-align: left;
}
header .tab__content {
  font-family: 'Courier New', Courier, monospace;
}
header .phone {
  width: 64px;
  height: 64px;
}
header .chrome {
  width: 64px;
  height: 64px;
}
header #services:hover {
  color: #000;
  background: orange;
  border-radius: 6px;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}
header #_services {
  display: none;
  width: 100vw;
}
header #_services ._services_title {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 28px;
}
header #_services ._services_content {
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
}
header #_services #marketplace {
  cursor: pointer;
  font-size: 22px;
  font-weight: 600;
}
header #_services #technology {
  cursor: pointer;
  font-size: 22px;
  font-weight: 600;
}
header #_services #make_money {
  cursor: pointer;
  font-size: 22px;
  font-weight: 600;
}
header #about:hover {
  color: #000;
  background: orange;
  border-radius: 6px;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}
header #_about {
  display: none;
  width: 100vw;
}
header #_about ._about_title {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 28px;
}
header #_about ._about_content {
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
}
header #_about #about_us {
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}
header #resources:hover {
  color: #000;
  background: orange;
  border-radius: 6px;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}
header #_resources {
  display: none;
  width: 100vw;
}
header #_resources ._resources_title {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 28px;
}
header #_resources ._resources_content {
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
}
header #_resources #blog {
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}
header #_resources #esomar {
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}
header #_resources #careers {
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}
header #affiliates:hover {
  color: #000;
  background: orange;
  border-radius: 6px;
  animation-duration: 1s;
}
header #_affiliates {
  display: none;
  width: 100vw;
}
header #_affiliates ._affiliates_title {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 28px;
}
header #_affiliates ._affiliates_content {
  font-size: 24px;
}
header #_affiliates #join_our {
  cursor: pointer;
  font-size: 22px;
  font-weight: 600;
}
header #contact:hover {
  cursor: pointer;
  color: #000;
  background: orange;
  border-radius: 6px;
  animation-duration: 1s;
}
header #_contact {
  display: none;
}
header .curent_active_show {
  position: absolute;
  display: block !important;
  background-color: #fff;
  color: #e40a0a;
  transform: translateY(-10px);
  z-index: 100;
}
.main__content {
  font-family: 'Courier New', Courier, monospace;
}
.main__content .bottombg {
  background-image: url("../images/g2.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
}
.main__content .left__text {
  font-size: 40px;
}
