body {
  overflow-x: hidden;
}

header {
  width: 100%;
  height:auto ;
  background-color: #fff;
  p {
    height: 68px;
    button {
      width: 8%;
      span {
        font-size: 20px;
      }
    }

    select {
      width: 8%;
      border: none;
      height: 38px;
      border-radius: 10px;
      text-align: center;
    }
  }

  #logo {
    width: 100px;
    height: auto;
    // margin-left: 10rem;
  }

  .header__ul {
    width: 100%;

    li {
      font-size: 20px;
      text-align: left;
    }
  }

  .tab__content {
    font-family: "Courier New", Courier, monospace;
  }

  .phone {
    width: 64px;
    height: 64px;
  }

  .chrome {
    width: 64px;
    height: 64px;
  }

  #services_btn:hover {
    color: #000;
    background: orange;
    border-radius: 6px;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
  }

  #services {
    ._services_title {
      font-weight: 600;
      font-size: 28px;
    }

    ._services_content {
      font-size: 22px;
    }

    #marketplace {
      cursor: pointer;
      font-size: 22px;
      font-weight: 600;
    }

    #technology {
      cursor: pointer;
      font-size: 22px;
      font-weight: 600;
    }

    #make_money {
      cursor: pointer;
      font-size: 22px;
      font-weight: 600;
    }
  }
 

  #about_btn:hover {
    color: #000;
    background: orange;
    border-radius: 6px;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
  }

  #about {
    ._about_title {
      font-weight: 600;
      font-size: 28px;
    }

    ._about_content {
      font-size: 24px;
    }

    #about_us {
      font-size: 22px;
      font-weight: 600;
      cursor: pointer;
    }
  }

  #resources_btn:hover {
    color: #000;
    background: orange;
    border-radius: 6px;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
  }

  #resources {
    ._resources_title {
      font-weight: 600;
      font-size: 28px;
    }

    ._resources_content {
      font-size: 24px;
    }

    #blog {
      font-size: 22px;
      font-weight: 600;
      cursor: pointer;
    }

    #esomar {
      font-size: 22px;
      font-weight: 600;
      cursor: pointer;
    }

    #careers {
      font-size: 22px;
      font-weight: 600;
      cursor: pointer;
    }
  }

  #affiliates_btn:hover {
    color: #000;
    background: orange;
    border-radius: 6px;
    animation-duration: 1s;
  }

  #affiliates {
    ._affiliates_title {
      font-weight: 600;
      font-size: 28px;
    }

    ._affiliates_content {
      font-size: 24px;
    }

    #join_our {
      cursor: pointer;
      font-size: 22px;
      font-weight: 600;
    }
  }

  #contact_btn:hover {
    cursor: pointer;
    color: #000;
    background: orange;
    border-radius: 6px;
    animation-duration: 1s;
  }

  .curent_active_show {
    position: absolute;
    display: block !important;
    background-color: #fff;
    color: rgb(228, 10, 10);
    transform: translateY(-10px);
    z-index: 100;
  }
}

.main__content {
  font-family: "Courier New", Courier, monospace;

  .bottombg {
    background-image: url("../images/g2.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
  }

  .left__text {
    font-size: 40px;
  }
}

.cookie_bar {
  position: fixed;
  bottom: 0;
  z-index: 10;
  background-color: #fff;
  width: 100%;
  padding: 20px 0px;
}

.isAccept {
  display: none;
}

.dialog_popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  opacity: 0.3;
}

.enjoyable {
  font-size: 24px;
  font-weight: bold;
}

.rewarded {
  font-size: 20px;
}

.box {
  .box1 {
    width: 23.5%;
    .box_content {
      font-size: 16px;
    }
  }
}

.img {
  margin: 0 auto;
}

.boost {
  .boost_box1 {
    width: 30%;
    background-color: #f04e4e;
    color: #fff;

    .title {
      font-size: 20px;
      font-weight: bold;
    }

    .content {
      font-size: 18px;
    }
  }

  .boost_box2 {
    width: 30%;
    background-color: #ff9700;
    color: #fff;

    .title {
      font-size: 20px;
      font-weight: bold;
    }

    .content {
      font-size: 18px;
    }
  }

  .boost_box3 {
    width: 30%;
    background-color: #fecc17;
    color: #fff;

    .title {
      font-size: 20px;
      font-weight: bold;
    }

    .content {
      font-size: 18px;
    }
  }
}

.bg_image {
  background-image: url("../images/world.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 650px;
}
.features{
  min-height: 60vh;
  .features_box1 {
    .bubble {
      position: absolute;
      width: 100%;
      height: auto;
      border-radius: 10px;
      color: #ddd;
      background-color:  #6739b6;

      i {
        width: 16px;
        height: 16px;
        color: rgb(221, 221, 221);
        border-width: 0px 12px 0px 0px;
        border-style: solid;
        border-color: transparent currentcolor transparent transparent;
        top: 100%;
        left: 50px;
        margin-top: -1px;
        border-radius: 0px 0px 32px;
        position: absolute;
      }

    }

    .bubble:after {
      content: '';
      position: absolute;
      left: 50px;
      width: 16px;
      height: 16px;
      border-width: 0;
      border-style: solid;
      border-color: transparent;
      border-right-color: currentColor;
      margin-top: -1px;
      border-right-width: 12px;
      border-radius: 0 0 32px 0;
      color: #6739b6;
    }
  }

  .features_box2 {
    .bubble {
      position: absolute;
      width: 100%;
      height: auto;
      border-radius: 10px;
      color: #ddd;
      background-color:  #9c26b0;

      i {
        width: 16px;
        height: 16px;
        color: rgb(221, 221, 221);
        border-width: 0px 12px 0px 0px;
        border-style: solid;
        border-color: transparent currentcolor transparent transparent;
        top: 100%;
        left: 50px;
        margin-top: -1px;
        border-radius: 0px 0px 32px;
        position: absolute;
      }

    }

    .bubble:after {
      content: '';
      position: absolute;
      left: 50px;
      width: 16px;
      height: 16px;
      border-width: 0;
      border-style: solid;
      border-color: transparent;
      border-right-color: currentColor;
      margin-top: -1px;
      border-right-width: 12px;
      border-radius: 0 0 32px 0;
      color: #9c26b0;
    }
  }

  .features_box3 {
    .bubble {
      position: absolute;
      width: 100%;
      height: auto;
      border-radius: 10px;
      color: #ddd;
      background-color:  #e91d62;

      i {
        width: 16px;
        height: 16px;
        color: rgb(221, 221, 221);
        border-width: 0px 12px 0px 0px;
        border-style: solid;
        border-color: transparent currentcolor transparent transparent;
        top: 100%;
        left: 50px;
        margin-top: -1px;
        border-radius: 0px 0px 32px;
        position: absolute;
      }

    }

    .bubble:after {
      content: '';
      position: absolute;
      // top: 100%;
      left: 50px;
      width: 16px;
      height: 16px;
      border-width: 0;
      border-style: solid;
      border-color: transparent;
      margin-top: -1px;
      border-right-width: 12px;
      border-right-color: currentColor;
      border-radius: 0 0 32px 0;
      color: #e91d62;
    }
  }
}
  
 