body {
  padding: 0;
  margin: 0;
}
.login_container {
  width: 100vw;
  min-height: 100vh;
  background: #eaf1f7;
}
.login_container .card__bg {
  background: #fff;
  box-shadow: 0px 0px 10px 10px #1f4c7d;
  border-radius: 30px;
}
.login_container .welcome_back {
  color: #4ba2c9;
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login_container .account {
  color: #1f4c7d;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login_container .btn__liner {
  background-image: linear-gradient(to right, #e45968, #e67167, #ea8868);
  color: #fff;
  border: none;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
}
.login_container .s-popup {
  opacity: 0;
  position: fixed;
  width: 30%;
  height: 250px;
  top: 50%;
  left: 35%;
  background-color: #302a2a;
}
.popup-box {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: none;
}
.popup-box .content {
  width: 400px;
  background-color: #fff;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 200px;
}
.popup-box .content-title {
  border-bottom: 1px solid #f3f1f1;
}
