body {
  padding: 0;
  margin: 0;
}
.login-container {
  width: 100vw;
  height: 100vh;
}
.login-container .login-box {
  margin: 0 auto;
  height: 700px;
  width: 600px;
}
.login-container .login-box .login-bg {
  background-image: url('../images/loginbg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 700px;
  width: 600px;
  margin-top: 6%;
  border-radius: 10px;
}
.login-container .mask {
  position: absolute;
  top: 0%;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  opacity: 0.9;
  display: flex;
  left: 0%;
  bottom: 0;
}
.login-container .mask .login-input {
  margin-left: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}
.login-container .mask .login-input .tab {
  display: flex;
}
.login-container .mask .login-input p {
  width: 200px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: orange;
  border-bottom: 2px solid gray;
  margin-right: 10px;
  text-align: center;
}
.login-container .mask .login-input input {
  height: 40px;
}
