.register_container{
    width: 100%;
    min-height: 100vh;
    background-image: url('../images/registerbg.png');
    background-repeat: repeat;
    .form_box{
        background-color: #6899ff;
        border-radius: 50px;
        box-shadow: 2px 4px 18px #210530;
    }
}